.header-bg{
    background-color: #000000;
    color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.125px;
}

#menu-mobile {
    display: none;
}

.header-menu {
    display: flex;
    padding: 10px 15px;
    gap: 2rem;
    position: relative;
}

.header-menu a {
    font-size: 20px;
}

@media (max-width: 800px){
    .header-menu {
        display: block;
        position: absolute;
        top: 60px;
        right: 0px;
        width: 100%;
        background-color: #000000;
        text-align: center;
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav.ativa .header-menu {
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }

    .header-menu a {
        padding: 1rem 0;
        display: block;
        font-size: 1.5rem;
        margin: 20px 50px;
        border-bottom: 2px solid #f7f7f7;
    }

    #menu-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        color: #f7f7f7;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    nav.ativa #hamburguer {
        border-top-color: transparent;
    }

    nav.ativa #hamburguer::before {
        transform: rotate(135deg);
    }

    nav.ativa #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}